@{
    ViewData["Title"] = "Home Page";
}

<h1>Date Ronald Weasley</h1>

<div>
    <p>Today is your lucky day. You may have the opportunity to date this...</p>
    <img src="~/img/ron.jpg" height="400px"/>
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="Application">Fill out an application to date Ron</a>
</div>
